.THIS ul{
    list-style-type: circle;
    margin-left: 18px;
    margin-top: 10px;
    margin-bottom: 10px;
}
.THIS .panel-primary{
	border: none;
	box-shadow: none;
}
.THIS .panel-heading{
    background-color: #e1e9ed;
    border-color: #e1e9ed;
    color: #000;
}
.THIS .panel-body{
    margin-top: 0px;
}
.THIS .panel-body{
    border: 1px solid #e1e9ed;
}