.THIS{
	font-family: 'Gotham-Light';
    font-size: 16px;
    font-weight: 300;
    line-height: 1.62;
    color: #000000;
}
.THIS .uiLabel{
    color: #000;
}
.THIS .input[disabled]{
	background-color: #eee;
}
.THIS .input{
	border-radius: 0px;
	font-size:16px;
}