.THIS{
    font-family: 'Gotham';
    font-size: 16px;
    font-weight: 300;
    line-height: 1.62;
    color: #000000;
}
.THIS .slds-modal__header{
    background-color: #f4f6f9;
}
.THIS table {
    border-collapse: collapse;
    background: #fff;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    -moz-box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
    width: 100%;
}
.THIS thead {
    border-radius: 5px;
}

.THIS thead th:first-child {
    -moz-border-radius-topleft: 5px;
    -webkit-border-top-left-radius: 5px;
    border-top-left-radius: 5px;
}

.THIS thead th {
    font-weight: bold;
    text-align: left;
    padding: 15px;
    background-size: 100%;
    border-top: 1px solid #858d99;
    border: 1px solid #ddd;
    color: black;
    text-shadow: none;
    font-weight: bold;
}
.THIS tbody tr td {
    font-family: 'Gotham-Light';
    font-size: 16px;
    font-weight: 300;
    color: #5f6062;
    padding: 10px;
    border-bottom: 1px solid #e0e0e0;
    border: 1px solid #ddd;
}
.THIS tbody tr:nth-child(even) {
    background: #f7f7f7;
}
.THIS ol{
    list-style: decimal;
}
.THIS ol li{
    margin-left: 10px;
}
.THIS ul:not(.option-list){
    list-style: none;
    padding: 0;
    margin: 0;
}
.THIS ul:not(.option-list) li::before {
    content: "• ";
    color: #00629c;
}
.THIS ul:not(.option-list) li {
    padding-left: 1em; 
    text-indent: -.7em;
}
.THIS tr{
    border-left: 1px solid #e0e0e0;
    border-right: 1px solid #e0e0e0;
    font-size: 16px;
    font-weight: normal;
}
.THIS .option-list li::before{
    display: none;
}
@media only screen and (max-width: 500px) {
    .THIS.document-table{
        overflow-x: scroll;
        display: block;
    }
}
.THIS.document-table td, .THIS.document-table th{
    border: 1px solid #e1e9ed;
}
.THIS .glyphicon{
    font-family: 'Glyphicons Halflings';
}
.THIS.attachment-heading{
    font-weight: bold;
    font-size: 20px;
}
.THIS input[type="checkbox"]{
    margin-right: 10px;
}
.THIS .glyphicon-info-sign{
    color: #D2691E;
}
.THIS .tooltip-inner{
    background-color: #D2691E;
    width:200px;
}
.THIS .slds-modal__container{
    min-width: 60%;
}
.THIS .showInfoText{
    font-size: 16px;
}
.THIS .panel-heading{
    background-color: #e1e9ed;
    border-color: #e1e9ed;
}
.THIS .panel-body{
    font-size: 16px;
}
.THIS .slds-text-heading--medium{
    font-size: 26px;
}
.THIS .slds-modal__content{
    font-size: 16px;
}
.THIS ::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    font-size: 14px;
}
.THIS ::-moz-placeholder { /* Firefox 19+ */
    font-size: 14px;
}
.THIS :-ms-input-placeholder { /* IE 10+ */
    font-size: 14px;
}
.THIS :-moz-placeholder { /* Firefox 18- */
    font-size: 14px;
}
.THIS .slds-button{
    font-size: 18px;
    line-height: 33px;
}
.THIS.btn-primary{
    line-height: 30px;
    width: 230px;
}
.THIS .first-level-submenu {
    padding-left: 25px;
}
.THIS .checkbox-inline input{
    margin-top: 3px;
}
.THIS .slds-modal__footer .cUI_Button{
    float: left;
}
.THIS .slds-modal__footer .cUI_Button:last-child{
    float: right;
}
.THIS .slds-progress-bar{
    width: 90%;
    float: left;
}
.THIS .slds-progress-bar-text{
    float: right;
    margin-top: -10px;
}
.THIS a:hover {
    color: rgb(19, 95, 144);;
}
.THIS .radio-inline input{
    position: relative;
    margin-right: 20px;
}