.THIS.disputePage{
    font-family: 'Gotham';
    background-color: #ffffff;
    box-shadow: 0 3px 14px 0 rgba(0, 0, 0, 0.15);
    margin-left: -24px;
    padding-left: 40px;
    padding-right: 10px;
}
.THIS .more-less {
    float: right;
    color: #fff;
    font-size: 20px;
    margin-top: -3px;
}
.THIS ul{
    list-style: none;
    padding: 0;
    margin: 0;
}
.THIS ul li::before {
    content: "• ";
    color: #00629c;
    margin-right: 8px;
}
.THIS ul li {
    padding: 0px;
}
.THIS ol{
    list-style: disc;
    padding-left: 30px;
    padding-top: 14px;
}
.THIS input[type=radio][disabled]:before, .THIS input[type=checkbox][disabled]:before{
  	background-color: #eee;
}
.THIS .panel{
    border: none;
    box-shadow: none;
}
.THIS .panel-heading{
    background-color: #f3f3f3;
    border: 1px solid #cecece;
    height: 63px;
    border-radius: 0px;
    padding: 22px;
}
.THIS .panel-heading .more-less{
    color: #000;
}
.THIS .panel-body{
    margin-top: 0px;
    border: none;
}
.THIS .panel-collapse>.panel-body{
    border-top-color: none !important;
    border-top: none !important;
}
.THIS .collapse.in{
    height: auto !important;
}
.THIS .panel-title a{
    font-size: 18px;
    color: #000;
}
.THIS h1{
    font-size: 44px;
    line-height: 60px;
    margin: 0.67em 0;
    font-family: 'Gotham-Book';
}
.THIS h2{
    font-size: 26px !important;
    font-family: 'Clarerendon';
}
.THIS h3{
    font-family: 'Gotham';
    font-size: 20px;
    font-weight: 500;
    line-height: 2.3;
    color: #000000;
}
.THIS p, .THIS ul, .THIS label, .THIS input, .THIS select, .THIS li, .THIS textarea{
    font-family: 'Gotham-Light';
    font-size: 16px;
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.62;
    letter-spacing: normal;
}
.THIS ::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    font-size: 14px;
}
.THIS ::-moz-placeholder { /* Firefox 19+ */
    font-size: 14px;
}
.THIS :-ms-input-placeholder { /* IE 10+ */
    font-size: 14px;
}
.THIS :-moz-placeholder { /* Firefox 18- */
    font-size: 14px;
}
.THIS .print-container{
    margin-top: 14px;
    text-align: right;
}
.THIS .mandatory-label{
    font-family: 'Gotham-Book';
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    letter-spacing: normal;
    text-align: right;
    color: #9b9b9b;
    line-height: 60px;
    margin: 30px 0;
}
.THIS .printButton{
    cursor: pointer;
    color: #00629c;
    font-size: 16px;
    font-family: 'Gotham-Light';
}
.THIS .glyphicon-print{
    margin-right: 6px;
}
.THIS p.has-error{
    color: #a94442;
}
.THIS .has-error .form-control{
    border-color: #a94442;
}
.THIS .has-error .control-label{
    color: #a94442;
}
.THIS .alert{
    margin-top: 20px;
}
@media screen{
    .THIS .page:not(.active){
        display:none;
    }
}
@media print{
    .THIS .not-print{
        display:none;
    }
    .THIS .collapse{
        display:block;
    }
    .THIS a[href]:after {
        content: none !important;
    }
}
@media only screen and (max-width: 500px) {
    .THIS.disputePage{
        margin-left: 0px;
        box-shadow: none;
        padding: 0px;
        margin-top: -40px;
    }
    .THIS .panel-heading h4 a{
        font-size: 13px;
    }
    .THIS .mandatory-label{
        line-height: 0px;
        margin-top: 0px;
        margin-bottom: 10px;
    }
    .THIS h1{
        margin: 20px 0px 0px 0px;
    }
}