.THIS.login-wrapper {
    box-shadow: 0 3px 14px 0 rgba(0, 0, 0, 0.15);
    padding: 40px 20px 40px 40px;
    margin-left: -24px;
    height: 84vh;
}
.THIS h1{
	font-family: 'Gotham-Book';
	font-size: 44px;
	color: #000000;
}
.THIS h3{
	font-family: 'Gotham';
	font-size: 20px;
	font-weight: 500;
	line-height: 2.3;
	color: #000000;
}
@media only screen and (max-width: 500px) {
	.THIS.login-wrapper{
		box-shadow: none;
        padding: 0px;
        margin-left: 2px;
    }
}