.THIS.forgotPassword{
	box-shadow: 0 3px 14px 0 rgba(0, 0, 0, 0.15);
    padding: 50px;
}
.THIS h1{
    font-family: 'Gotham-Book';
    font-size: 44px;
    color: #000000;
}
.THIS ul {
    list-style: inside;
    margin-left: 2em;
    margin-top: 1em;
	margin-bottom: 1em;
}
.THIS .errorLabel{
	color: #a94442;
}
@media only screen and (max-width: 500px) {
	.THIS.forgotPassword{
		box-shadow: none;
        padding: 0px 0px 0px 4px; 
    }
}