.THIS.dashboard{
    font-family: 'Gotham';
    background-color: #ffffff;
    box-shadow: 0 3px 14px 0 rgba(0, 0, 0, 0.15);
    margin-left: -24px;
    margin-top: -21px;
    min-height: 40vh;
    padding-left: 40px;
    padding-right: 10px;
    padding-top: 20px;
    min-height: 500px;
    position: relative;
}
.THIS.section-grey{
    background-color: #f3f3f3;
    margin-left: -24px;
    padding: 40px 10px 40px 52px;
    width: 103.5%;
}
.THIS h1{
    font-size: 44px;
    line-height: 60px;
    margin: 0.67em 0;
    font-family: 'Gotham-Book';
}
.THIS h2{
    font-family: 'Gotham';
    font-size: 28px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: 0.86;
    letter-spacing: normal;
    color: #000000;
}
.THIS h3{
    font-family: 'Gotham';
    font-size: 20px;
    font-weight: 500;
    line-height: 2.3;
    color: #000000;
}
.THIS p, .THIS ul, .THIS label, .THIS input, .THIS select, .THIS li, .THIS textarea{
    font-family: 'Gotham-Light';
    font-size: 16px;
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.62;
    letter-spacing: normal;
    color: #000000;
}
.THIS .panel{
    border: none;
    box-shadow: none;
}
.THIS table {
    font-family: 'Gotham-Light';
    border-collapse: collapse;
    width: 100%;
}
.THIS th{
    text-align: left;
    padding: 8px;
    background-color: #f7f7f7;
    text-transform: uppercase;
    padding: 8px;
    font-family: 'Gotham';
    font-size: 12px;
    font-weight: 500;
    height: 8px;
    color: #282828;
}
.THIS th:not(:last-child) {
    border-right: 1px solid #dddddd;
}
.THIS td{
    padding: 8px;
    border-bottom: 1px solid #dddddd;
}
.THIS td:not(:last-child) {
    border-right: 1px solid #dddddd;
}
.THIS tr{
    line-height: 30px;
    white-space: pre-wrap;
}
.THIS .userName{
    color: #094e8a;
}
.THIS .glyphicon-trash{
    cursor: pointer;
}
.THIS .slds-modal__footer .cUI_Button{
    float: left;
    width: 45%;
}
.THIS .slds-modal__footer .cUI_Button:last-child{
    float: right;
    width: 45%;
}
.THIS .pendingItemLink{
    float: left;
}
.THIS .pendingItemHeading{
    font-family: 'Gotham-Light';
    background-color: #ca0000;
    font-size: 10px;
    font-weight: bold;
    color: #ffffff;
    float: left;
    width: 82px;
    height: 26px;
    padding-left: 6px;
    margin-left: 4px;
}
.THIS .pendingItemName{
    font-family: 'Gotham-Book';
    font-size: 12px;
    line-height: 1.83;
    color: #bc0004;
}
.THIS .user-guide-link{
    height: 158px;
    background-color: #eff7f3;
    margin-bottom: 30px;
    margin-left: 10px;
    width: 96%;
    padding: 10px 10px 10px 40px;
    font-family: 'Gotham-Book';
    font-size: 20px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.5;
    letter-spacing: normal;
    color: #000000;
    position: relateve;
    right: 10px;
}
.THIS .user-guide-link img{
    font-size: 45px;
    color: #0e6927;
    margin-top: 34px;
    float: left;
    margin-right: 18px;
}
.THIS .user-guide-text{
    float:left;
    margin-top: 28px;
    color: #000;
}
.THIS .user-guide-text .p2{
    color: #0e6927;
}
.THIS .glyphicon-menu-right{
    float: right;
    color: #0e6927;
    font-size: 30px;
    margin-top: 40px;
    margin-right: 20px;
}
@media only screen and (max-width: 500px) {
    .THIS.dashboard{
        margin-left: 0px;
        box-shadow: none;
        padding: 20px 0px 0px 0px;
        margin-top: -40px;
        min-height: 20px
    }
    .THIS h1{
        margin: 0px;
    }
    .THIS table{
        overflow-x: scroll;
        display: block;
    }
    .THIS.section-grey{
        margin-left: 0px;
        padding: 10px 10px 30px 10px;
        width: 100%;
    }
    .THIS .user-guide-link{
        padding: 0px 10px 0px 22px;
        margin-left: 8px;
        margin-bottom: 0px;
        position: relative;
        right: 0px;;
    }
    .THIS .user-guide-text{
        font-size: 16px;
        width: 72%;
    }
    .THIS .glyphicon-menu-right{
        margin-top: 44px;
        margin-right: 0px;
    }
}