.THIS .panel-heading{background-color: #fff;color: #000 !important;font-weight: bold;font-size: 16px;}
.THIS .panel-title{font-family: Lato !important;}
.THIS .panel-body{margin-top: -15px;}
.THIS .panel-primary {border-color: #fff !important;}
.THIS textarea{
    width:100%;
}
.THIS .more-less {
    float: right;
    color: #fff;
    font-size: 20px;
    margin-top: -3px;
}
.THIS ul{
    list-style-type: circle;
    margin-left: 18px;
    margin-top: 10px;
    margin-bottom: 10px;
}
.THIS a:focus{
   color: #fff;
}
.THIS input[type=radio][disabled]:before, .THIS input[type=checkbox][disabled]:before{
  	background-color: #eee;
}
.THIS .panel-heading{
    background-color: #e1e9ed;
    border-color: #e1e9ed;
}
.THIS .panel-body{
    margin-top: 0px;
}
.THIS .panel-body{
    border: 1px solid #e1e9ed;
}