.THIS .panel-heading{
    font-size: 18px;
}
.THIS .panel-group a{
    font-size: 16px;
}
.THIS .glyphicon-ok{
    color: #fff;
}
.THIS .collapsedState .uiButton{
    top: -77px !important;
}
.THIS .uiButton{
    height: 42px;
    font-size: 22px;
}
.THIS .uploadButton{
    padding-top: 5px;
}
.THIS .details-icon{
    top: 3px;
    left: 5px;
}
.THIS .uiButton--brand{
    background-color: #467082;
}
.THIS table {
    border-collapse: collapse;
    width: 100%;
}

.THIS td, .THIS th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}
.THIS tr {
    white-space: pre-wrap;
}
.THIS tr:nth-child(even) {
    background-color: #f7f7f7;
}

.THIS.slds-modal tr{
    background-color: #fff;
}

.THIS .btn-manage{
    width: 35%;
    margin-top: 10px;
    margin-bottom: 10px;
}

.THIS.progressbar{
    height: 40px;
    width: 100%;
    margin-left: 0px;
    background-color: #b6b6b6;
}
.THIS.progressbar div{
    padding: 9px;
    position:relative;
    text-align:center;
}
.THIS.progressbar div:after{
    content:"";
    position:absolute;
    height:0;
    width:0;
    left:100%;
    top:0;
    border:20px dotted transparent;
    border-left: 20px dotted #b6b6b6;
}
.THIS.progressbar .status-on{
    color: #fff;
    background-color: #7DCEA0;
    border-color: #d6e9c6;
}
.THIS.progressbar .status-on:after{
    content:"";
    position:absolute;
    height:0;
    width:0;
    left:100%;
    top:0;
    border:20px dotted transparent;
    border-left: 20px dotted #7DCEA0;
}
.THIS .glyphicon{
    cursor: pointer;
}
.THIS .glyphicon{
    cursor: pointer;
}
.THIS .button-addMember{
    margin-top: 27px;
}
.THIS .glyphicon-ok{
    margin-top: 4px;
    margin-left: -50px;
}
.THIS .slds-is-complete:hover .glyphicon{
    display: none;
}
.THIS .slds-is-complete .slds-tabs--path__title{
    margin-left: -10px;
}
.THIS .panel-primary{
    border-radius: 0px;
    border-color: #fff;
}
.THIS .panel-heading{
    background-color: #fff;
    color: #000;
    font-weight: bold;
    font-size: 20px;
}
.THIS .panel-body{
    margin-top: -15px;
}
.THIS .slds-is-incomplete{
    background-color: #e1e9ed;
}
.THIS .slds-is-incomplete:before {
    background-color: #e1e9ed;
}
.THIS .panel-grey .panel-heading, .THIS .panel-grey .panel-body{
    background-color: #f7f7f7;
}
@media only screen and (max-width: 500px) {
    .THIS table{
        overflow-x: scroll;
        display: block;
    }
}

.THIS .first-level-submenu {
    padding-left: 25px;
}

.THIS .second-level-submenu {
    padding-left: 20px;
}

.THIS .second-level-submenu__text{
    padding-left: 20px;
}